#jinja2: lstrip_blocks: "True", trim_blocks: "True"
#--------------------------------------------------------------------------------
# /etc/hosts created by Ansible
#--------------------------------------------------------------------------------
{% for item in ec2_instance_masters.instances %}
{{ item.private_ip_address }}  {{ item.private_dns_name }} {{ item.tags.Name }}
{% endfor %}
{% for item in ec2_instance_workers.instances %} {{ item.tags.Name }}
{{ item.private_ip_address }}  {{ item.private_dns_name }}
{% endfor %}

127.0.0.1	localhost
#127.0.1.1	loopback

# The following lines are desirable for IPv6 capable hosts
::1     ip6-localhost ip6-loopback
