export SPARK_HOME="{{ SPARK_HOME }}"
export SPARK_CONF_DIR="${SPARK_HOME}/conf"
export PATH="$PATH:${SPARK_HOME}/bin:${SPARK_HOME}/sbin"

# For YARN
export HADOOP_HOME="{{ HADOOP_HOME }}"
export HADOOP_CONF_DIR="${HADOOP_HOME}/etc/hadoop"
