#jinja2: lstrip_blocks: "True", trim_blocks: "True"
#--------------------------------------------------------------------------------
# Ansible inventory
#--------------------------------------------------------------------------------
[servers]
{% for item in ec2_instance_list.instances %}
{{ item.public_ip_address }} name={{ item.tags.Name }} type={{ item.tags.type }} instance_id={{ item.id }} private_ip={{ item.private_ip_address }}
{% endfor %}

#--------------------------------------------------------------------------------
# Cluster information for the Ansible application deployment
#--------------------------------------------------------------------------------
cluster:
    hosts:
{% for item in ec2_instance_list.instances %}
      - hostname: {{ item.tags.Name }}
        type:     {{ item.tags.type }}
        ip:       {{ item.private_ip_address }}
        id:       {{ item.id }}
{% endfor %}
